html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.slick-slider {
  
}

.slick-prev:before {
  width: '40px';
  color: aqua;
  background-color: aquamarine;
}

.slick-next:before {
  color: aqua;
  font-size: 80px;
}

.slick-dots {
  width: '';
  color: blue;
}

